{% extends 'base.html' %}
{% load static %}
{% block title %} Edit Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
    .edit-form-container {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
    margin-top: 80px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);

    width: 50%; /* formani toraytiradi */
     /* chapga yopishtiradi */
}
</style>

    <h3>Edit Page</h3>

<div class="edit-form-container">
            <h4>Write a Review</h4>
            <form method="post" action="{% url 'books:edit' book.id review.id %}">
                {% csrf_token %}

                <div class="rating-stars">
                    {{ review_form.stars_given }}
                </div>

                <div class="form-field">
                    {{ review_form.comment }}
                </div>

                <button class="submit-review">Submit Review</button>
            </form>
        </div>

{% endblock content %}

